.row
  .medium-6.columns
    %table
      %thead
        %tr
          %th{ width: 600 }
            Name
      %tbody
        - users.each do |u|
          %tr
            %td
              = image_tag u.photo(50)
              = u.name


