*, *:before, *:after {
  @extend .antialiased;
}

main {
  padding-top: 30px;
}

code {
  font-family: $code;
  color: #333;
  font-size: .9rem;
  font-weight: 300;
}

.quote {
  .details {
    font-size: 0.8125rem;
    span {
      position: relative;
      top: 4px;
      float: right;
    }
  }
}
