*, *:before, *:after {
  @extend .antialiased;
}

.top-bar {
  margin-bottom: 30px;
}

code {
  font-family: $code;
  color: #333;
  font-size: .9rem;
  font-weight: 300;
}

.quote {
  .details {
    margin-top: -.5rem;
    font-size: 0.8125rem;
    span {
      position: relative;
      top: 4px;
      float: right;
    }
  }
}
